.mainText {
  pointer-events : none;
  position: absolute;
  top: 5vh;
  left: 10vw;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.2;
}

.companyName {
  font-size: 10vw;
  color: white;
}

.scrambler {
  display: flex;
  font-size: 4vw;
  color: white;
  font-family: monospace;
}

.blinker {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.contactText {
  position: absolute;
  pointer-events: none;
  bottom: 5vh;
  left: 8vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}

ul {
  list-style-type: none;
}

.particleBackground {
  background-color: #0080b2;
  display: block;
}

.lowpolyape {
  pointer-events : none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  opacity: 0.6;
}